*{margin: 0;padding: 0;box-sizing:content-box;}

main{
    display: grid;
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "Apresentation Video"
    "More More"
    "Post Post";
    align-items: end;
}

.SectionApresentation{
    grid-area: Apresentation; 
    z-index: 2;
    align-self: baseline;

}
.background{
    background-color: #FBB03B;
    padding: 220px 0px;
    width: 98%;
    padding-right: 13px;
    margin-left: 20px;
    border-radius: 200px 0px 0px 200px;
    z-index: 1;
    position: absolute;
    align-self: baseline;
}

.SectionVideos{
    grid-area: Video;
    z-index: 5;
    align-self: flex-end;
}
.MoreVideos{
    grid-area: More;
}

.SectionPosts{
    grid-area: Post;
    z-index: 2;   
}
@media (max-width:340px){.background{padding: 220px 60px;width: 100%;}}
@media (max-width:940px) {
    main{
        display: grid;
        grid-template-rows: 1fr auto auto ;
        grid-template-columns: auto;
        grid-template-areas: 
        "Apresentation"
        "Video"
        "More"
        "Post";
    }
    .SectionVideos{
        grid-area: Video;
        z-index: 5;
        align-self: center;
        margin-top: 30px;
    }
    .MoreVideos{
        grid-area: More;
    }
    .background{
        border-radius: 140px 0 0 140px;
        padding-right: 0px;
        margin-left: 0px;
        width: 100%;
    }
    
}